body {
    background-color: #f0f0f0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

h4 {
    display: block;
    margin-block-start: 1.0em;
    margin-block-end: 1.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.title {
    font-family: 'Leckerli One';
    color: #ff8c00;
}

.hint-color {
    color: #ff8c00;
}

li {
    color: black;
}

.important-marker::marker {
    color: #ff8c00;
    font-weight: bold;
}

#note-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px;
    margin: 8px;
}

.default-border {
    border-left: 2px solid #878787;
	border-bottom: 1px dotted #878787;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}

.title-notes {
    margin: 24px 2px -8px 32px;
}

.default-padding {
    padding: 8px;
}

.separator-right {
    border-right: 1px solid #878787;
    padding: 8px 2px 8px 8px;
}

.separator-left {
    border-left: 1px dotted #878787;
    padding: 8px 2px 8px 8px;
}

.deleted-element {
    color: #ff8c00;
}

.four-row {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input {
    display: inline-flex;
        height: 10%;
}

.input > p {
    margin: 0px 4px;
}